In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/atlantico-academy/datasets/main/tips.csv")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
df.to_csv("../data/raw/data.csv", index=False)

In [4]:
dicionario = pd.DataFrame([
    {
        "variavel": "tip_in_dollar",
        "descricao": "Valor da gorjeta em dólares",
        "tipo":"quantitativa",
        "subtipo":"continua"
    },{
        "variavel": "bill_in_dollars",
        "descricao": "Valor da conta em dólares",
        "tipo":"quantitativa",
        "subtipo":"continua"
    },{
        "variavel": "sex",
        "descricao": "Sexo dos clientes",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "smokers",
        "descricao": "Se os clientes eram fumante ",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "day_of_the_week",
        "descricao": "Dia da semana",
        "tipo":"qualitativa",
        "subtipo":"ordinal"
    },{
        "variavel": "time_of_day",
        "descricao": "Horário do dia",
        "tipo":"quantitativa",
        "subtipo":"continua"
    },{
        "variavel": "size_of_the_.party",
        "descricao": "Quantidade de pessoas na mesa",
        "tipo":"quantitativa",
        "subtipo":"discreta"
    }
])
dicionario.to_csv('../data/external/dictionary.csv', index=False)
dicionario

,variavel,descricao,tipo,subtipo
0,tip in dollars,Gorjeta em dólares,quantitativa,continua
1,bill in dollars,Fatura em dólares,quantitativa,continua
2,sex of the bill payer,Sexo do pagador da conta,qualitativa,nominal
3,whether there were smokers in the party,Se havia fumantes na festa,qualitativa,nominal
4,day of the week,Dia da semana,qualitativa,ordinal
5,time of day,Hora do dia,quantitativa,continua
6,size of the party,Tamanho da festa,quantitativa,discreta